{#
/**
 * List radio Html : item 'other' row
 *
 * @var $name
 * @var $answer_other
 * @var $sDisplayStyle
 * @var $sDisable
 * @var $myfname
 * @var $othertext
 * @var $checkedState
 * @var $kpclass
 * @var $sValue
 * @var $oth_checkconditionFunction
 * @var $checkconditionFunction
 */
#}

<!-- answer_row_other -->
<div id='javatbd{{myfname}}' class='form-group'>
    <div class="row">
        <label for="exampleFormControlTextarea1" aria-label="Remarques">Remarques</label>
        <textarea class="form-control" id="remarques_{{name}}" rows="2"></textarea>
    </div>
</div>
<!-- end of answer_row_other -->
